---
---

@import "{{ site.theme }}";

// Add dark mode color scheme
@media (prefers-color-scheme: dark) {
  body {
    background: #0d1117;
    color: #c9d1d9;
  }

  a {
    color: #58a6ff;
  }

  header, h1, h2, h3, h4, h5, h6 {
    color: #c9d1d9;
  }

  strong {
    color: #f0f6fc;
  }
}

// Trim the embarrasingly non-transparent background of the avatar
header img {
  border-radius: 50%;
}
